$unit: 8px;
$gap: 32px;
$delete-border: -1px;
$bold: 600;
$title-width: 400px;
$subtitle-width: 150px;
$subtitle-height: 40px;
$info-width: 101px;
$info-height: 115px;
$weigth-width: 40px;
$weight-height: 32px;
$description-width: 265px;
$description-height: 192px;
$water-orange: #e97171;
$water-purple: #32355a;
$water-green: #198b89;
$pink-water: #f3c5d0;
$border: 1px solid $water-purple;
$size-L: 1.1rem;
$size-XL: 1.3rem;

p {
  margin: 8px;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: $unit/-2; //-4px
}

h4 {
  margin: 0 auto;
  padding-bottom: $unit / 2;
  font-weight: $bold;
  font-size: $size-L;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 97vh;
  color: $water-purple;

  & .color-column-group {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
  }

  & .color-column {
    height: 30vh;
    width: 25vw;
  }

  & .half-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: $gap * 2 $gap * 2 0 $gap * 2;
    text-align: center;
    min-width: 200px;
    align-items: center;

    & .image {
      height: 650px;
      position: relative;
      z-index: 2;
    }

    & .block {
      padding: $unit * 1.5;
      border: $border;

      &.title {
        width: $title-width;
        height: 180px;
        margin-left: 10%;
        padding: $unit $unit * 4;
        margin-bottom: $delete-border;
        margin-top: 0;
      }

      &.subtitle {
        width: $subtitle-width;
        height: $subtitle-height;
        margin-bottom: $delete-border;
        font-weight: $bold;
        font-size: $size-XL;
      }

      &.description {
        width: $description-width;
        min-width: $description-width;
        height: $description-height;
      }

      &.info {
        width: $info-width;
        height: $info-height;
        margin-left: $delete-border;
      }

      &.weight {
        width: $weigth-width;
        height: $weight-height;
        position: relative;
        right: 11px;
        top: -77px;
        margin-left: $delete-border;
        margin-top: $delete-border;
        font-weight: $bold;
        font-size: $size-L;
      }
    }

    & .details {
      display: flex;
    }
  }
  & .orange {
    background-color: $water-orange;
  }
  & .pink {
    background-color: $pink-water;
  }
  & .green {
    background-color: $water-green;
  }
  & .purple {
    background-color: $water-purple;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  max-width: 100vw;
  width: 40%;
  height: 100px;
  border-top: $border;
  padding-top: $gap;

  & .price {
    font-size: $gap;
  }

  & .btn {
    padding: $unit * 2;
    background-color: $water-purple;
    color: white;
    font-size: 1.2rem;
    border: transparent;
    margin-left: $unit * 2;
    cursor: pointer;
    &:hover {
      box-shadow: 1px;
    }
  }

  & input {
    width: $gap;
    height: $gap;
    padding: $unit;
    font-size: $size-XL;
    text-align: center;
    background-color: transparent;
    border: $border;
  }
}

// Animations:

.item-enter {
  opacity: 0;
  transform: translateY(150px);
  transition: all 500ms ease-in;
}
.item-enter-active {
  opacity: 1;
  transform: translateY(0px);
}
.item-exit {
  opacity: 0;
}

.image-enter {
  opacity: 0;
  transform: translateY(1050px);
  transition: all 600ms ease-in;
}
.image-enter-active {
  opacity: 1;
  transform: translateY(325px);
}
.image-exit {
  opacity: 0;
}
