@import '../scss/variables';

p {
  margin: 8px;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: $unit/-2; //-4px
}

h4 {
  margin: 0 auto;
  padding-bottom: $unit / 2;
  font-weight: $bold;
  font-size: $size-L;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 97vh;
  color: $purple-water;

  & .color-column-group {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
  }

  & .color-square-container {
    height: 30vh;
    width: 25vw;
  }

  & .half-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: $gap * 2 $gap * 2 0 $gap * 2;
    text-align: center;
    min-width: 200px;
    align-items: center;

    & .image {
      height: 650px;
      position: relative;
      z-index: 2;
    }

    & .block {
      padding: $unit * 1.5;
      border: $border;

      &.title {
        width: $title-width;
        height: 180px;
        margin-left: 10%;
        padding: $unit $unit * 4;
        margin-bottom: $delete-border;
        margin-top: 0;
      }

      &.subtitle {
        width: $subtitle-width;
        height: $subtitle-height;
        margin-bottom: $delete-border;
        font-weight: $bold;
        font-size: $size-XL;
      }

      &.description {
        width: $description-width;
        min-width: $description-width;
        height: $description-height;
      }

      &.info {
        width: $info-width;
        height: $info-height;
        margin-left: $delete-border;
      }

      &.weight {
        width: $weigth-width;
        height: $weight-height;
        position: relative;
        right: 11px;
        top: -77px;
        margin-left: $delete-border;
        margin-top: $delete-border;
        font-weight: $bold;
        font-size: $size-L;
      }
    }

    & .details {
      display: flex;
    }
  }

  & .orange-water {
    background-color: $orange-water;
    transition: background-color 1s ease-out;
  }
  & .salmon-lap {
    background-color: $salmon-lap;
    transition: background-color 1s ease-out;
  }
  & .green-cey {
    background-color: $green-cey;
    transition: background-color 1s ease-out;
  }
  & .pink {
    background-color: $pink-water;
  }
  & .green-water {
    background-color: $green-water;
  }
  & .purple-water {
    background-color: $purple-water;
  }
  & .marengo-lap {
    background-color: $marengo-lap;
  }
  & .purple-lap {
    background-color: $purple-lap;
  }
  & .purple-cey {
    background-color: $purple-cey;
  }
  & .orange-cey {
    background-color: $orange-cey;
  }
}
