.transition-item-enter {
  opacity: 0;
  transform: translateY(150px);
  transition: all 500ms ease-in;
}
.transition-item-enter-active {
  opacity: 1;
  transform: translateY(0px);
}
.transition-item-exit {
  opacity: 0;
}

.transition-image-enter {
  transform: translateY(1200px);
  transition: all 700ms ease-in;
}
.transition-image-enter-active {
  transform: translateY(325px);
}
.transition-image-exit {
  transform: translateY(-700px);
  transition: transform 500ms ease-in;
}

.transition-image-exit-active {
  transform: translateY(-1200px);
}

.transition-square-one-enter {
  opacity: 0.01;
  transform: translate(-300px, 0);
}
.transition-square-one-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-in;
  position: fixed;
  bottom: 0;
}
.transition-square-one-exit {
  opacity: 1;
}
.transition-square-one-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.transition-square-two-enter {
  opacity: 0.01;
  transform: translateY(300px);
}
.transition-square-two-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
  position: fixed;
  bottom: 0;
}
.transition-square-two-exit {
  opacity: 1;
}
.transition-square-two-exit-active {
  opacity: 0.1;
  transition: opacity 100ms ease-in-out;
}
