$orange-water: #e97171;
$purple-water: #32355a;
$green-water: #198b89;
$pink-water: #f3c5d0;
$salmon-lap: #b88485;
$marengo-lap: #633549;
$purple-lap: #27263b;
$green-cey: #33545d;
$purple-cey: #2e3957;
$orange-cey: #da9a8a;

$unit: 8px;
$gap: 32px;
$delete-border: -1px;
$bold: 600;
$title-width: 400px;
$subtitle-width: 150px;
$subtitle-height: 40px;
$info-width: 101px;
$info-height: 115px;
$weigth-width: 40px;
$weight-height: 32px;
$description-width: 265px;
$description-height: 192px;
$border: 1px solid $purple-water;
$size-L: 1.1rem;
$size-XL: 1.3rem;
